body {

    background: blue;
}

h1 {
text-align: center;

}

h2{
    text-align: center;
    color: brown;
}
.Ian{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

